/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

*.gem
Gemfile.lock
spec/dest
spec/fixtures/jekyll/.jekyll-metadata
spec/fixtures/jekyll/.jekyll-cache
